.SideBar {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: left;
  background-color: rgba(145, 13, 13, 0.8);

  @media screen and (max-width: 1023px) {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.SideBar {
  &:before {
    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -50px;
      content: " ";
      display: block;
      width: auto;
      height: 850px;
    }
  }
}

.SideBar__inner {
  padding: 45px 40px;
  position: relative;
  height: 100%;
  overflow-y: auto;

  @media screen and (max-width: 1023px) {
    overflow: initial;
    height: auto;
    padding: 0 40px;
  }
}

.SideBar__person__avatar-wrapper {
  border-radius: 50%;
  margin-bottom: 10px;
  text-align: center;
}

.SideBar__person__avatar {
  border-radius: 50%;
}

.SideBar__person__content {
  text-align: center;
  margin-left: -40px;
  margin-right: -40px;
}

.SideBar__person__content__title {
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 35px;
}
.SideBar__person__content__sub-title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 26px;
}

.SideBar__main-navigation {
  margin: 45px -40px;
  line-height: 30px;
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;

  @media screen and (max-width: 1023px) {
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin: 20px -40px 0;
  }
}
.SideBar__main-navigation--extended {
  .SideBar__navigation-extendable {
    height: 220px;
  }
}
.SideBar__navigation-extendable {
  @media screen and (max-width: 1023px) {
    height: 0;
  }
  transition: height 0.5s;
}
.SideBar__navigation-extend-bar {
  font-size: 1.125rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 0;
  padding: 0 20px;
  display: none;

  @media screen and (max-width: 1023px) {
    display: flex;
    justify-content: space-between;
  }
}

.SideBar__navigation-links-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  @media screen and (max-width: 1023px) {
    font-size: 14px;
    text-transform: uppercase;

    text-align: right;
  }
}

.SideBar__navigation-link {
  position: relative;
  padding: 0 40px;
  font-size: 0.875rem;
  line-height: 30px;
  font-weight: 300;
  cursor: pointer;
  color: #ccc;
  text-decoration: none;

  @media screen and (max-width: 1023px) {
    padding: 0 20px;
    line-height: 50px;
  }
  &:hover {
    color: #fff;
    span {
      &:after {
        content: "\f054";
        position: relative;
        top: -1px;
        padding-left: 3px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 0.65rem;
        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
}

.SideBar__navigation-link--selected {
  color: #fff;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 8px solid #fff;
    bottom: 6px;
    left: auto;
    right: 0;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  span {
    &:after {
      content: "\f054";
      position: relative;
      top: -1px;
      padding-left: 3px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 0.65rem;
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.SideBar__navigation-links-lists--top-margin {
  margin-top: 30px;
  @media screen and (max-width: 1023px) {
    margin-top: 0px;
  }
}

.SideBar__social-block {
  margin-top: 45px;
  font-size: 1.375rem;
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.SideBar__social-block__title {
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
  font-weight: 300;
}

.SideBar__social-icon {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.4em;
  line-height: 1;
  &:hover {
    color: #fff;
  }
}

.SideBar__social-icon--small {
  font-size: 1.2rem;
}

.SideBar__extend-btn {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);

  &:hover {
    color: #fff;
  }
}
