@import "SingleProjectCard/SingleProjectCard";

.ProjectsTimeline {
  margin-left: -50px;
  @media screen and (max-width: 1023px) {
    margin-left: 0;
  }
}

.ProjectsTimeline__projects-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}
