.Contact__main-section {
  max-width: 850px;
  padding: 50px;
  background-color: #fff;
  color: #333;
}

.Contact__main-title {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 15px;
  color: #555;
  font-size: 36px;
  font-weight: 400;
}

.Contact__small-paragraph {
  font-weight: 300;
}
